* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
}

.reveal_visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

header {
  font-size: 16px;
  font-weight: 300;
  padding-top: 30px;
  margin-bottom: 120px;
  background-color: white;
}

header .nav-item {
  padding-right: 15px;
}

header .navbar-btn a {
  text-decoration: none;
}

header .navbar-btn .btn-1 {
  color: #0b132a;
  font-weight: 400;
  margin-right: 12px;
}

header .navbar-btn .btn-fill {
  border: 1px solid #f53838;
  border-radius: 50px;
  color: #f53838;
  padding: 10px 20px;
}

header .navbar-light .navbar-toggler {
  color: #f53838;
  border: none;
}

.banner .content-box .button-fill {
  margin: 50px 0 35px 0;
}

.banner .content-box .button-fill a {
  background-color: #f53838;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
}

.features {
  margin: 200px 0;
}

.features .illustration {
  margin-right: 50px;
}

.features .content-box h1 {
  line-height: 50px;
  padding-bottom: 25px;
}

.features .content-box p {
  color: #4f5665b7;
  font-size: 16px;
}

.features .content-box .list-group-flush > .list-group-item {
  border-width: 0 !important;
}

#get-started .list-group-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.features .content-box .f-list li .icon {
  margin-right: 10px;
  background-color: #2fab73;
  color: white;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 50%;
}

footer {
  background-color: #f8f8f8;
}

footer .subscribe {
  background-color: white;
  -webkit-box-shadow: 4px 10px 7px 5px rgba(109, 108, 108, 0.027);
  box-shadow: 4px 10px 7px 5px rgba(109, 108, 108, 0.027);
  border-radius: 5px;
  position: relative;
  top: -90px;
}

footer .subscribe .row {
  padding: 50px;
}

footer .subscribe .row h5 {
  font-weight: 300;
  color: #4f5665b7;
}

footer .subscribe .row .btn-subscribe {
  margin: 80px 0 50px 0;
}

footer .subscribe .row .btn-subscribe a {
  background-color: #f53838;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 4px 5px 5px 2px rgba(247, 45, 45, 0.13);
  box-shadow: 4px 5px 5px 2px rgba(247, 45, 45, 0.13);
}

footer .footer-links {
  margin-bottom: 15px;
}

footer .footer-links .col-right .footer-logo {
  margin-bottom: 25px;
}

footer .footer-links .col-right h5 {
  color: #4f5665b7;
  margin-bottom: 50px;
}

footer .footer-links .col-right span {
  font-weight: 300;
  color: #4f5665b7;
}

footer .footer-links .col-right .social-icons {
  margin-bottom: 30px;
}

footer .footer-links .col-right .social-icons .icon {
  color: #f53838;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 10px;
  -webkit-box-shadow: 4px 2px 3px rgba(247, 79, 79, 0.144);
  box-shadow: 4px 2px 3px rgba(247, 79, 79, 0.144);
}

footer .footer-links .col-left h5 {
  margin-bottom: 20px;
}

footer .footer-links .col-left .links li {
  list-style: none;
  color: #4f5665b7;
  font-weight: 300;
  padding-bottom: 15px;
}

footer .footer-links .col-left .links li:hover {
  cursor: pointer;
  color: #f53838;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

footer .attribution a {
  text-decoration: none;
  color: #f53838;
}
/*# sourceMappingURL=style.css.map */
