*{
    margin: 0;
    padding: 0;
}

// Variables
$red:#F53838;
$light-red:#FFECEC;
$dark:#0B132A;
$light-dark:#4f5665b7;
$bg-light:#FBFBFB;
$light-grey:#F8F8F8;

// Global
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.reveal{
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity 0.8s, transform 0.8s;
    &_visible {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
// Navigation
header{
    font-size: 16px;
    font-weight: 300;
    padding-top: 30px;
    margin-bottom: 120px;
    background-color:white;
    .nav-item{
        padding-right: 15px;
    }
    .navbar-btn{
        a{
           text-decoration: none;
        }
        .btn-1{
            color:$dark;
            font-weight: 400;
            margin-right: 12px;
        }
        .btn-fill{
            border: 1px solid $red;
            border-radius: 50px;
            color: $red;
            padding: 10px 20px;
        }
    }
    .navbar-light .navbar-toggler{
        color:$red;
        border: none;
    }
}

// Feature Section
.features{
    margin: 200px 0;
    .illustration{
        margin-right: 50px;
    }
    .content-box{
       h1{
        line-height: 50px;
        padding-bottom: 25px;
       }
       p{
           color: $light-dark;
           font-size: 16px;
       }
       .list-group-flush>.list-group-item{
        border-width:0 !important;
       }
       .f-list{
           li{
               .icon{
                   margin-right: 10px;
                   background-color: #2FAB73;
                   color: white;
                   height: 30px;
                   width: 30px;
                   padding: 2px;
                   border-radius: 50%;   
               }
           }
       }
    }
}


// Footer Section
footer{
    background-color: $light-grey;
    .subscribe{
        background-color: white;
        box-shadow: 4px 10px 7px 5px rgba(109, 108, 108, 0.027);
        border-radius: 5px;
        position: relative;
        top: -90px;
        .row{
            padding: 50px;
            h5{
                font-weight: 300;
                color: $light-dark;
            }
            .btn-subscribe{
                margin: 80px 0 50px 0;
                a{
                    background-color: $red;
                    text-decoration: none;
                    color: white;
                    padding: 15px 30px;
                    border: none;
                    border-radius: 10px;
                    box-shadow: 4px 5px 5px 2px rgba(247, 45, 45, 0.13);
                }
            }
        }
    }
    .footer-links{
        margin-bottom: 15px;
        .col-right{
            .footer-logo{
                margin-bottom: 25px;
            }
            h5{
                color: $light-dark;
                margin-bottom: 50px;
            }
            span{
                font-weight: 300;
                color: $light-dark;
            }
            .social-icons{
                margin-bottom: 30px;
               .icon{
                color: $red;
                background-color: white;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-right: 5px;
                padding: 10px;
                box-shadow:4px 2px 3px rgba(247, 79, 79, 0.144);
               }
            }
        }
        .col-left{
            h5{
                margin-bottom: 20px;
            }
            .links{
                li{
                    list-style: none;
                    color: $light-dark;
                    font-weight: 300;
                    padding-bottom: 15px;
                    &:hover{
                        cursor: pointer;
                        color: $red;
                        transition: ease-in-out;
                    }
                }
            }
        }
    }
    .attribution{
        a{
            text-decoration: none;
            color: $red;
        }
    }
}